{
  "name": "datagen-stocktrades",
  "config": {
    "connector.class": "io.confluent.kafka.connect.datagen.DatagenConnector",
    "kafka.topic": "stock-trades",
    "quickstart": "Stock_Trades",
    "producer.interceptor.classes": "io.confluent.monitoring.clients.interceptor.MonitoringProducerInterceptor",
    "max.interval": 100,
    "iterations": 10000000,
    "tasks.max": "1"
  }
}